name: Android Build
on:
  workflow_dispatch: # Allows manual trigger from GitHub UI
  push:
    branches: [ main ]
    paths:
      - 'mobile-app/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: mobile-app/package-lock.json

      - name: Install dependencies
        run: |
          cd mobile-app
          npm install --legacy-peer-deps

      - name: Set up NDK
        run: |
          echo "y" | sudo ${ANDROID_HOME}/cmdline-tools/latest/bin/sdkmanager "ndk;27.0.12077973"

      - name: Build Android Release
        run: |
          cd mobile-app/android
          chmod +x gradlew
          ./gradlew assembleRelease --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: mobile-app/android/app/build/outputs/apk/release/app-release.apk
